@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), 
    url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff"),
    url("../fonts/Poppins-Bold.woff") format("woff");
  text-rendering: optimizeLegibility;  
}
